{%extends 'base.html'%}
{%block content1%}
{% load static %}
<link type="text/css" href="{% static 'Ambrella/css/IMG.css' %}" rel="stylesheet">
<br>
<hr>
<div>
    <h1> {{title|upper| cut:' ' | cut:'А'  }} </h1> <p> Все заглавные буквы и удалить пробел и буквы А</p>
    <h1> {{menu.1|upper}} </h1> <p> Слово Заглавными буквами</p>
    <p> {{float|add:"50"}} </p> <p> Добавить 50 </p>
    <p> {{value|default:"nothing"}}</p> <p> по Умолчанию Ничего </p>
    <p> {{url}} </p>
    <p> {{dict}} </p> <p> Вывод Key1</p>
    <p> {{set|linenumbers}} </p> <p> список вывода 1. 2. и т.д.</p>
    <p> {{int|floatformat}} </p> <p> Перевод в float format</p>
    <p> {{list|length}} </p> <p> Размерность </p>
    <p> {{bool|filesizeformat}} </p> <p> Формат размера файла</p>
    <p> {{tup|iriencode}} </p> <p> Перевод в IRI код</p>
    <p> {{obj}} </p>
    <p> {{get|addslashes}} </p>

</div>
<br>
<a href="{%url 'about' %}"> О сайте</a>
<br>
{%include 'Ambrella/includes/nav.html'%}
<div>
    <ul>
         {% for p in posts %}
         <li>
                   <h2>{{ p.title }}</h2>
                   <p >{{ p.content }}</p>
                   <hr>
         </li>
         {% endfor %}
    </ul>
</div>

<div>
    <H1> Список Студентов: </H1>
    <ul>
    {% for s in spisok %}
        {% if s.is_published %}
        <li>
            <h2> {{s.title}}</h2>
            <p>{{ s.content }}</p>
            {% if not forloop.last %}
            <p ><a class="round" href="{% url 'spisok' s.id %}">Посмотреть студента</a></p>
            <hr>
            {% endif %}
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>

{%endblock%}
